{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='stylesheet' href="{% static 'css/index.css' %}" />
</head>

<body>
    <div class="locations-main">
        <h1>Welcome To San Clemente!</h1>

        <div id="weather">
                <img src="http://openweathermap.org/img/wn/{{city_weather.icon}}.png" alt="">
                <span>{{ city_weather.temperature }}° F</span>
        </div>
    </div>

    <div class="mobile-container">
        <div class="mobile-container-description">
            <p>SoCal Excursions is a quick and convenient tourism site for exploring the town of San Clemente, CA.</p>
        </div>
    </div>

    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
            <div class="carousel__face"></div>
        </div>
    </div>
</body>
{% endblock content %}



<!-- 
    TODO:

    path goes to url.py -> path points to views function 
    form action post? -> name of wishlist path goes to 
    checkbox calls views function?
    
    create new model?
    makemigrations?
    somehow add checked locations to wishlist arr?
    hardcode wish?

    make mobile-container-description responsive
    fix menu-items position
    submit testing assignment
    deploy to Heroku
-->