<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>   
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">SoCal Excursion</a>
            <a href="/newsletter">Newsletter</a>
        </div>
    </header>
    <h1> NEWSLETTER</h1>
    <h2>Events</h2>
        <li>Carnival Colossal
            10/13/2022 - 10/16/2022</li>
        <li>Pumpkin Splash
            10/22/2022 11:30 AM - 4:00 PM</li>
        <li>Red Ribbon Parade & National Night Out
            10/24/2022 4:00 PM - 7:00 PM</li>
        <li>Monster Dash 5k
            10/29/2022 7:00 AM - 11:00 AM</li>
    <h2>Testimonials</h2>
        <li>	
            Feskeli G.
            Laguna Niguel, CA:
            "San Clemente is a beautiful beach town with a rich history. Main Street is lined with restaurants, boutiques, and cute shops one can walk and shop. Going down, you can reach the pier where you find Fisherman's Resturant, and others. 
            People fishing off the pier, eating ice cream, watching the surfers catch waves and dolphins playing off in the distance. It has an old rustic Spanish colonial vibe and I'm here for it. 
            I found a beautiful view from "top of the world " as I call it going up El Camino all the way to heaven. I would move here in a second. Sooo many options, super chill , and clean. If you are on a road trip through South Cali, and find yourself going 5 south towards San Diego or 5 north going up towards LA stop here and have lunch: make a day of it."
        </li>
        <li>	
            Madison M.
            Orange, CA:
            "Love this city by the sea, appreciate the people who manage it work for it and serve this community everyday.

            God Bless and Happy New Year"
        </li>
        <li>Summer C.
            Peoria, AZ:
            "I was born and raised in San Clemente and I couldn't imagine a better place to live! I currently live out of state, but will be back again and I visit frequently. 
            SC is such a beautiful city. Beautiful views and community - friendly people! I love the beach community feel of this town.
            This is a wonderful place to live - great people, beautiful beaches, perfect weather, great restaurants, shopping, activities, etc."
        </li>
</body>
</html>